<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
    	<h:form>
    		<h:outputLabel value="Delete course:"></h:outputLabel>
	        	<br/>
	        	<br/>	        
      	
      		<h:outputText value="Are you sure you want to delete #{academicBean.course.academicElement.name} ? "></h:outputText>
	      		<br/>
	      		<br/>
      		<h:commandButton value="yes" action="#{academicBean.performCourseDelete}"></h:commandButton>
      		<h:commandButton value="no" action="courseForm"></h:commandButton>	
    	</h:form>
    </ui:define>
</ui:composition>
</html>