<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
    	<h:form>
    		<h:outputLabel value="Professor Details:"></h:outputLabel>
	        	<br/>
	        	<br/>
        	<strong><h:outputText value="Id &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.id}" />
        		<br/>
        	<strong><h:outputText value="Firstname &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.firstname}" />
        		<br/>
        	<strong><h:outputText value="Lastname &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.lastname}" />
        		<br/>
        	<strong><h:outputText value="Title &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.title.toString()}" />
        		<br/>
        	<strong><h:outputText value="Function &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.function.toString()}" />
        		<br/>
        	<strong><h:outputText value="Email &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.email}" />
        		<br/>
        	<strong><h:outputText value="Office &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.office}" />
        		<br/>
        	<strong><h:outputText value="Interest &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.interest.toString()}" />
        		<br/>
        	<strong><h:outputText value="Highest diploma &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.highestDiploma}" />
        		<br/>
        	<strong><h:outputText value="Activity rate &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.activityRate}" />
        		<br/>
        	<strong><h:outputText value="Birthdate " /></strong>
        	<h:outputText value="#{academicBean.professor.birthdate}" />
        	<br/>
        	<strong><h:outputText value="Research unit &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.researchUnit.toString()}" />
        		<br/>
        	<strong><h:outputText value="Image url &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.imageUrl}" />
        		<br/>
        	<strong><h:outputText value="Linked'in url &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.linkedinUrl}" />
        		<br/>
        	<strong><h:outputText value="Publications url &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.professor.publicationsUrl}" />
        		<br/>
        	<strong><h:outputText value="Courses &nbsp;" /></strong>       	
	       	<h:selectOneMenu value="courses">
	       		<f:selectItems value="#{academicBean.professorCourses}"
	       		 var="course"
	       		 itemValue="#{course.courseId}"
	       		 itemLabel="#{course.academicElement.name}"/>
	       	</h:selectOneMenu>
        		<br/>
        	<strong><h:outputText value="Research Projects &nbsp;" /></strong>       	
	       	<h:selectOneMenu value="researchProjects">
	       		<f:selectItems value="#{academicBean.professorResearchProjects}"
	       		 var="researchProject"
	       		 itemValue="#{researchProject.researchProjectId}"
	       		 itemLabel="#{researchProject.academicElement.name}"/>
	       	</h:selectOneMenu>
        		<br/>
        	<strong><h:outputText value="Courses responsible &nbsp;" /></strong>       	
	       	<h:selectOneMenu value="responsibleCourses">
	       		<f:selectItems value="#{academicBean.professorCoursesResponsible}"
	       		 var="course"
	       		 itemValue="#{course.courseId}"
	       		 itemLabel="#{course.academicElement.name}"/>
	       	</h:selectOneMenu>
        		<br/>
        	<strong><h:outputText value="Research Projects responsible &nbsp;" /></strong>       	
	       	<h:selectOneMenu value="researchProjectsResponsible">
	       		<f:selectItems value="#{academicBean.professorResearchProjectsResponsible}"
	       		 var="researchProject"
	       		 itemValue="#{researchProject.researchProjectId}"
	       		 itemLabel="#{researchProject.academicElement.name}"/>
	       	</h:selectOneMenu>
        		<br/>
	        	<br/>		
			<h:commandLink action="professorForm">
	         	<h:outputText value="Go back" />
	        </h:commandLink>   	        	
    	</h:form>
    </ui:define>
</ui:composition>
</html>