<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
    	<h:form>
    		<h:outputLabel value="Course Details:"></h:outputLabel>
	        	<br/>
	        	<br/>
        	<strong><h:outputText value="Id &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.course.courseId}" />
        		<br/>
        	<strong><h:outputText value="Name &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.course.academicElement.name}" />
        		<br/>
        	<strong><h:outputText value="Main competency &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.course.academicElement.mainCompetency}" />
        		<br/>
        	<strong><h:outputText value="Formation type &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.course.formationType.toString()}" />
        		<br/>
        	<strong><h:outputText value="Credits &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.course.credits}" />
        		<br/>
        	<strong><h:outputText value="Language &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.course.language.toString()}" />
        		<br/>
        	<strong><h:outputText value="Requirements &nbsp;" /></strong>
	       	<h:selectOneMenu value="requirement">
	       		<f:selectItems value="#{academicBean.courseRequirements}"/>
	       	</h:selectOneMenu>
        		<br/>
        	<strong><h:outputText value="Exam type &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.course.examType.toString()}" />
        		<br/>
        	<strong><h:outputText value="Pass criteria &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.course.passCriteria}" />
        		<br/>
        	<strong><h:outputText value="Professor responsible &nbsp;" /></strong>
        	<h:outputText value="#{academicBean.courseProfessorResponsible.firstname} #{academicBean.courseProfessorResponsible.lastname}" />
        		<br/>
        	<strong><h:outputText value="Professors &nbsp;" /></strong>       	
	       	<h:selectOneMenu value="professor">
	       		<f:selectItems value="#{academicBean.courseProfessors}"
	       		 var="professor"
	       		 itemValue="#{professor.id}"
	       		 itemLabel="#{professor.firstname} #{professor.lastname}"/>
	       	</h:selectOneMenu>
        		<br/>
	    		<br/>		
			<h:commandLink action="courseForm">
         		<h:outputText value="Go back" />
        	</h:commandLink>    	
    	</h:form>
    </ui:define>
</ui:composition>
</html>