<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
    	<h:form>
    		<h:outputLabel value="Edit professor:"></h:outputLabel>
        		<br/>
        		<br/>
        	<strong><h:outputText value="Firstname &nbsp;" /></strong>
        	<h:inputText value="#{academicBean.professor.firstname}" />
        		<br/>
        	<strong><h:outputText value="Lastname &nbsp;" /></strong>
        	<h:inputText value="#{academicBean.professor.lastname}" />
        		<br/>
        	<strong><h:outputText value="Title &nbsp;" /></strong>
        	<h:selectOneMenu value="#{academicBean.professor.title}">
			    <f:selectItems value="#{academicBean.titleEnumValues}" var="title" itemValue="#{title}" itemLabel="#{title.label}" />
			</h:selectOneMenu>
        		<br/>
        	<strong><h:outputText value="Function &nbsp;" /></strong>
        	<h:selectOneMenu value="#{academicBean.professor.function}">
			    <f:selectItems value="#{academicBean.functionEnumValues}" var="function" itemValue="#{function}" itemLabel="#{function.label}" />
			</h:selectOneMenu>
        		<br/>
        	<strong><h:outputText value="Email &nbsp;" /></strong>
        	<h:inputText value="#{academicBean.professor.email}" />
        	<br/>
        	<strong><h:outputText value="Office &nbsp;" /></strong>
        	<h:inputText value="#{academicBean.professor.office}" />
        		<br/>
        	<strong><h:outputText value="Interest &nbsp;" /></strong>
        	<h:selectOneMenu value="#{academicBean.professor.interest}">
			    <f:selectItems value="#{academicBean.interestEnumValues}" var="interest" itemValue="#{interest}" itemLabel="#{interest.label}" />
			</h:selectOneMenu>
        		<br/>
        	<strong><h:outputText value="Highest diploma &nbsp;" /></strong>
        	<h:inputText value="#{academicBean.professor.highestDiploma}" />
        		<br/>
        	<strong><h:outputText value="Activity rate &nbsp;" /></strong>
        	<h:inputText value="#{academicBean.professor.activityRate}" />
        		<br/>
        	<strong><h:outputText value="Birthdate " /></strong>
        	<h:outputText value="#{academicBean.professor.birthdate}" />
        	<br/>
        	<strong><h:outputText value="Research unit &nbsp;" /></strong>
        	<h:selectOneMenu value="#{academicBean.professor.researchUnit}">
			    <f:selectItems value="#{academicBean.researchUnitEnumValues}" var="researchUnit" itemValue="#{researchUnit}" itemLabel="#{researchUnit.label}" />
			</h:selectOneMenu>
        		<br/>
        	<strong><h:outputText value="Image url &nbsp;" /></strong>
        	<h:inputText value="#{academicBean.professor.imageUrl}" />
        		<br/>
        	<strong><h:outputText value="Linked'in url &nbsp;" /></strong>
        	<h:inputText value="#{academicBean.professor.linkedinUrl}" />
        		<br/>
        	<strong><h:outputText value="Publications url &nbsp;" /></strong>
        	<h:inputText value="#{academicBean.professor.publicationsUrl}" />
        		<br/>	
	    		<br/>
        	<h:commandButton value="Save" action="#{academicBean.performEdit}"></h:commandButton>      
	     		<br/>	
			<h:commandLink action="professorForm">
	         	<h:outputText value="Go back" />
	        </h:commandLink> 	
    	</h:form>
    </ui:define>
</ui:composition>
</html>