<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
    	<h:form>
    <h:outputLabel for="refDate" value="Professors total responsible budget :" />
    	<br/>
    	<br/>
 	<h:dataTable value="#{academicBean.professorsWithBudgets.entrySet()}" var="profProject" border="1">
	    <h:column>
	        <f:facet name="header">First Name</f:facet>
	        <h:outputText value="#{profProject.key.firstname}" />
	    </h:column>
	    <h:column>
	        <f:facet name="header">Last Name</f:facet>
	        <h:outputText value="#{profProject.key.lastname}" />
	    </h:column>
	    <h:column>
	        <f:facet name="header">Budget</f:facet>
	        <h:outputText value="#{profProject.value.budget} CHF" />
	    </h:column>
	      <h:column>
	        <f:facet name="header">Number of Projects</f:facet>
	        <h:outputText value="#{profProject.value.nbOfProjects}" />
	    </h:column>
	</h:dataTable>   
        <br/>		
		<h:commandLink action="welcomeUniversity">
         	<h:outputText value="Go back" />
        </h:commandLink>
    	</h:form>
    </ui:define>
</ui:composition>
</html>