<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
    	<h:form>
    		<h:outputLabel value="Professors:"></h:outputLabel>
        		<br/>
        		<br/>	        
    	<ui:repeat var="professor" value="#{academicBean.professors}">	
    		<h:outputText value="#{professor.firstname} #{professor.lastname} &nbsp;"></h:outputText>
    		<h:commandButton value="edit" action="#{academicBean.openEditProfessor(professor)}"></h:commandButton>
    		 | 
    		<h:commandButton value="details" action="#{academicBean.openDetailsProfessor(professor)}"></h:commandButton>
    			<br/> 		
		</ui:repeat> 
			<br/>		
		<h:commandLink action="welcomeUniversity">
         	<h:outputText value="Go back" />
        </h:commandLink>         	
    	</h:form>
    </ui:define>
</ui:composition>
</html>