<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
    	<h:form>
    		<h:outputLabel value="Research Projects:"></h:outputLabel>
        	<br/>
        	<br/>
	       	<h:outputText value="Projects: "></h:outputText>
	       	<h:selectOneMenu value="#{academicBean.researchProjectId}">
	       		<f:selectItems value="#{academicBean.researchProjects}"
	       		 var="researchProject"
	       		 itemValue="#{researchProject.researchProjectId}"
	       		 itemLabel="#{researchProject.academicElement.name}"/>
	       	</h:selectOneMenu>
	    	<h:outputText value="Professors: "></h:outputText>
	       	<h:selectOneMenu value="#{academicBean.professorId}">
	       		<f:selectItems value="#{academicBean.professors}"
	       		 var="professor"
	       		 itemValue="#{professor.id}"
	       		 itemLabel="#{professor.firstname} #{professor.lastname}"/>
	       	</h:selectOneMenu>
	       	<h:commandButton value="assign" action="#{academicBean.assignProjectToProfessor}"></h:commandButton>
	       	<br/>
	        <br/>
			<h:commandLink action="showHistory">
	         	<h:outputText value="Show assignment history" />
	        </h:commandLink> 
	        <br/> 		
			<h:commandLink action="welcomeUniversity">
	         	<h:outputText value="Go back" />
	        </h:commandLink>
    	</h:form>
    </ui:define>
</ui:composition>
</html>