<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
    	<h:form>
    		<h:outputLabel for="refDate" value="Show projects open at this date :" />
    			<br/>
    		<h:inputText id="refDate" value="#{academicBean.refDate}">
				<!-- check date in format dd.MM.yyyy -->
        		<f:validateRegex pattern="\d{2}\.\d{2}\.\d{4}" />
        		<f:attribute name="validatorMessage" value="The date must be like 'dd.MM.yyyy'" />
    		</h:inputText>
    		<h:commandButton value="Apply" action="#{academicBean.refreshProjects}" />
   				<br/>
    		<h:message  for="refDate" />
			    <br/>
			    <br/>
			 <h:dataTable value="#{academicBean.researchProjects}" var="researchProject" border="1">
				    <h:column>
					    <f:facet name="header">Start Date</f:facet>
					    <h:outputText value="#{researchProject.startDate}">
					        <f:convertDateTime pattern="dd.MM.yyyy" />
					    </h:outputText>
					</h:column>
					<h:column>
					    <f:facet name="header">End Date</f:facet>
					    <h:outputText value="#{researchProject.endDate}">
					        <f:convertDateTime pattern="dd.MM.yyyy" />
					    </h:outputText>
					</h:column>
		           	<h:column>
		           		<f:facet name="header">Title</f:facet>
		           		<h:outputText value="#{researchProject.academicElement.getName()}"/>
		           	</h:column>
		           	<h:column>
		           		<f:facet name="header">Main Competency</f:facet>
		           		<h:outputText value="#{researchProject.academicElement.getMainCompetency()}"/>
		           	</h:column>
		               <h:column>
		                   <f:facet name="header">Description</f:facet>
		                   <h:outputText value="#{researchProject.description}"/>
		               </h:column>
		               <h:column>
		                   <f:facet name="header">Domain</f:facet>
		                   <h:outputText value="#{researchProject.domain}"/>
		               </h:column>
		               <h:column>
		                   <f:facet name="header">Representative</f:facet>
		                   <h:outputText value="#{researchProject.representative}"/>
		               </h:column>
		               <h:column>
		                   <f:facet name="header">Budget</f:facet>
		                   <h:outputText value="#{researchProject.budget} CHF"/>
		               </h:column>
		               <h:column>
		                   <f:facet name="header">Responsible professor</f:facet>
		                   <h:outputText value="#{researchProject.responsibleProfessor.firstname} #{researchProject.responsibleProfessor.lastname}"/>
		               </h:column>
			</h:dataTable>
    	</h:form>
    	<h:form>
    		<br/>		
			<h:commandLink action="welcomeUniversity">
	         	<h:outputText value="Go back" />
	        </h:commandLink>
    	</h:form>
    </ui:define>
</ui:composition>
</html>