<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
        <h:outputLabel value="Assignment result:"></h:outputLabel>
        	<br/>
        	<br/>
        <h:outputLabel value=" #{academicBean.assignmentResult}"></h:outputLabel>
	        <br/>
	        <br/>
 		<h:form>
 			<strong><h:outputText value="Professors assigned to the project: " /></strong>
 			<br></br>
			<ui:repeat var="professor" value="#{academicBean.researchProjectProfessors}">	
    			<h:outputText value="#{professor.firstname} #{professor.lastname}"></h:outputText>		
    			<br></br>
			</ui:repeat>
 		</h:form>
        	<br/>
        <h:form>
	        <h:commandLink action="researchProjectForm">
	        	<h:outputText value="Make another assignment" />
	        </h:commandLink>
	        <br/>		
			<h:commandLink action="showHistory">
	         	<h:outputText value="Show assignment history" />
	        </h:commandLink>  
        </h:form>
    </ui:define>
</ui:composition>
</html>