<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
    

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
    	<h:outputLabel value="History:"></h:outputLabel>
        	<br/>
        	<br/>
       	<h:form>
	       	<h:dataTable value="#{academicBean.history}" var="history">
	    		<h:column>
	    			<h:outputText value="#{history}"/>
	    		</h:column>
	    	</h:dataTable>
	       		<br/>		
			<h:commandLink action="researchProjectForm">
	         	<h:outputText value="Go back" />
	        </h:commandLink> 
       	</h:form>    	
    </ui:define>
</ui:composition>
</html>