<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
    <ui:define name="content">
        <h:outputLabel value="Welcome to HES-SO Valais-Wallis"></h:outputLabel>
        	<br/>
        <h:outputText value="User: #{request.remoteUser}" />
        	<br/>
        	<br/>
        <h:form>
	        <h:commandLink action="professorForm">
	        	<h:outputText value="Manage Professors" />
	        </h:commandLink>
	        	<br/>
	        <h:commandLink action="researchProjectForm">
	        	<h:outputText value="Manage Research Projects" />
	        </h:commandLink>
	        	<br/>
	        <h:commandLink action="#{academicBean.refreshResearchProjects}">
	        	<h:outputText value="Show projects by date" />
	        </h:commandLink>
	        	<br/>
	        <h:commandLink action="professorResponsibleBudget">
	        	<h:outputText value="Show professors total responsible budget"/>
	        </h:commandLink>
	        	<br/>
	        <h:commandLink action="courseForm">
	        	<h:outputText value="Manage Courses" />
	        </h:commandLink>
	        	<br/> 
	        	<br/>
	        <h:commandButton value="Seed DB" action="#{academicBean.seed}"></h:commandButton>  
        </h:form>
    </ui:define>
</ui:composition>
</html>